<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
	<property name="configLocation" value="classpath:sqlmap-config.xml"></property>
</bean>

<bean id="loginDao" class="com.aiyaya.dao.impl.LoginDaoImpl">
	<property name="dataSource" ref="mySqlDataSource"></property>
</bean>
       
</beans>