<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

<bean class='org.springframework.beans.factory.config.PropertyPlaceholderConfigurer'>
	<property name="locations">
		<list>
			<value>classpath:important.properties</value>
		</list>
	</property>
</bean>
 
<import resource="spring/spring-config-datasource-c3p0.xml"/>
<import resource="spring/spring-config-dao.xml"/>
<import resource="spring/spring-config-manager.xml"/>
<import resource="spring/spring-config-service.xml"/>

</beans>